body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #202427, #2c2e31);
    color: #39FF13;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.splash-screen {
    padding: 70px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    width: 180px;
}

h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dots {
    font-weight: bold;
}

.progress-bar {
    background-color: #444;
    border-radius: 20px;
    height: 10px;
    width: 100%;
    margin: 20px 0;
}

.progress {
    background-color: #9CFF00;
    height: 100%;
    width: 0%;
    border-radius: 20px;
    transition: width 0.1s ease;
}

.welcome-container {
    text-align: center;
    background-color: #000000;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    display: none;
}

button {
    background-color: transparent;
    border: 2px solid #39FF13;
    color: #39FF13;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #39FF13;
    color: #000;
}

.notextlogo {
    max-width: 180px;
    max-height: 150px;
}