<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenshin Zone</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/img/logo1.png">
</head>
<body>
    <div id="overlay"></div>
    <div class="splash-screen" id="splash">
        <h1>
            Carregando<span class="dots" id="dots">.</span>
        </h1>
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>
        <span id="percentage">0%</span>
    </div>
    <div class="welcome-container" id="welcome" style="display: none;">
        <img src="static/img/logo1.png" alt="Logo sem texto" class="notextlogo">
        <h2>Kenshin Zone</h2>
        <button onclick="window.location.href='login.html'">Login</button>
        <button onclick="window.location.href='register.html'">Cadastro</button>
    </div>
    <script src="static/script/app.js"></script>
</body>
</html>