<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenshin Zone - Cadastro</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/img/logo1.png">
</head>
<body>
    <div id="overlay"></div>
    <div class="register-container">
        <div class="slash2"></div>
        <div class="slash3"></div>
        <img src="static/img/logo2.png" alt="Logo register" class="logo-login-cadastro">
        <form>
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" placeholder="Digite seu e-mail" required>
            </div>
            <div class="input-group password-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Crie sua senha" required>
                <button type="button" id="togglePassword" class="toggle-password">&#128065;</button>
            </div>
            <div class="input-group password-group">
                <label for="confirmPassword">Confirmar Senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme a senha" required>
                <button type="button" id="toggleConfirmPassword" class="toggle-password">&#128065;</button>
            </div>
            <button type="submit">Cadastrar</button>
            <p class="link">Já possui uma conta? <a href="/login"><strong>Faça login</strong></a></p>
        </form>
    </div>
    <script>
        const slash2 = document.querySelector('.slash2'); 
        const slash3 = document.querySelector('.slash3'); 

        const togglePasswordButton = document.getElementById('togglePassword');
        const passwordField = document.getElementById('password');

        const toggleConfirmPasswordButton = document.getElementById('toggleConfirmPassword');
        const confirmPasswordField = document.getElementById('confirmPassword');

        
        togglePasswordButton.addEventListener('click', () => {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            if (slash2.style.display === 'block') {
                slash2.style.display = 'none'; 
            } else {
                slash2.style.display = 'block'; 
            }
        });

     
        toggleConfirmPasswordButton.addEventListener('click', () => {
            const type = confirmPasswordField.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordField.setAttribute('type', type);

            if (slash3.style.display === 'block') {
                slash3.style.display = 'none'; 
            } else {
                slash3.style.display = 'block'; 
            }
        });
    </script>
</body>
</html>